* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  background: #A0A9CC;
  color: #fff;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 100;
  text-align: center;
}
.container {
  background: #B7BED8;
  color: #6A79A6;
  display: inline-block;
  padding: 0em 2em;
  margin: 6em auto;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
}
.container .navigation {
  text-align: left;
}
.container .navigation ol {
  list-style: none;
  background: #B7BED8;
  position: absolute;
  padding: 30px 0;
  width: 600px;
  z-index: 100;
  margin-bottom: 30px;
}
.container .navigation ol li {
  display: inline-block;
  margin-right: 27px;
  font-size: 0.7em;
  max-width: 20%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .navigation ol li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.container .navigation ol li a.done {
  opacity: 1;
}
.container .sign-form {
  width: 600px;
  text-align: left;
  margin: 85px 0 0 0;
}
.container .sign-form #next-page {
  opacity: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  background: url("https://jdniki.github.io/signup/images/next-page.svg");
  background-size: contain;
}
.container .sign-form #next-page:hover {
  background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
  background-size: contain;
}
.container .sign-form .questions {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 88%;
  display: inline-block;
  height: 80px;
}
.container .sign-form .questions li {
  position: absolute;
  width: 500px;
  /*-------------Password ------------------*/
}
.container .sign-form .questions li span {
  display: block;
  margin-bottom: 10px;
}
.container .sign-form .questions li input {
  width: 100%;
  font-size: 0.9em;
  color: #f2f2f2;
  margin: 0.3em 0 1em 0;
  border: none;
  background: none;
  border-bottom: 3px solid #fff;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}
.container .sign-form .questions li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}
.container .sign-form .questions li:not(:first-child) {
  opacity: 0;
  margin-top: 150px;
}
.container .sign-form .questions li #viewpswd {
  position: absolute;
  opacity: 0;
}
.container .sign-form .questions li #show-pwd {
  margin: -2.75em 0em;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.container .sign-form .questions li #show-pwd.view {
  background: url("https://jdniki.github.io/signup/images/view.svg");
  background-size: contain;
}
.container .sign-form .questions li #show-pwd.hide {
  background: url("https://jdniki.github.io/signup/images/hide.svg");
  background-size: contain;
}
.container .sign-form .questions li #show-pwd:active,
.container .sign-form .questions li #show-pwd:focus {
  background: url("https://jdniki.github.io/signup/images/hide.svg");
  background-size: contain;
}
.container .sign-form .questions li select.country {
  position: absolute;
  width: 4.5em;
  font-size: 0.7em;
  color: #f2f2f2;
  height: 70px;
  background: transparent;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.container .sign-form .questions li #phone {
  padding-left: 5em;
}
.container .error-message {
  color: rgba(207, 0, 0, 0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
  background: #B7BED8;
}
::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #B7BED8 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #B7BED8;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}




